[run]
branch = True
source = src

[report]
ignore_errors = True
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    src/ptvsd/_vendored/*
