[run]
branch = True
parallel = True
include =
    src/debugpy/*
omit =
    src/debugpy/__init__.py
    src/debugpy/_version.py
    src/debugpy/_vendored/*
    src/debugpy/server/*
data_file = coverage/.coverage

[report]
exclude_lines =
    # Have to re-enable the standard pragma.
    pragma: no cover

    # __repr__ is mostly used for error messages.
    def __repr__

    # Asserts and error conditions.
    raise AssertionError
    raise NotImplementedError
    \.isnt_valid\(
    \.cant_handle\(

    # Code that's deliberately excluded.
    if 0:
    if __name__ == .__main__.:
 
[html]
directory = coverage/html
title = debugpy coverage report

[xml]
output = coverage/coverage.xml
