## Used to run the tests:

# pytest>=5 does not support Python 2.7
pytest<5

pytest-cov
pytest-timeout
pytest-xdist
tox

## Used by test helpers:

colorama
psutil
pygments

## Used in Python code that is run/debugged by the tests:

django
requests

# https://github.com/microsoft/ptvsd/issues/1574
# Remove specific version once Flask 1.1.2 is released.
flask==1.0.3
