## Used to run the tests:

pytest
pytest-xdist
pytest-cov
pytest-timeout
pytest-retry

## Used by test helpers:

importlib_metadata
psutil

## Used in Python code that is run/debugged by the tests:

django
flask
gevent
numpy
requests
