<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microbuild.Core" version="0.3.0" />
  <package id="Python" version="3.8.0" />
  <package id="Pythonx86" version="3.8.0" />
  <package id="Python" version="3.7.5" />
  <package id="Pythonx86" version="3.7.5" />
  <package id="Python" version="3.6.8" />
  <package id="Pythonx86" version="3.6.8" />
  <package id="Python" version="3.5.4" />
  <package id="Pythonx86" version="3.5.4" />
  <!--<package id="Python2" version="2.7.15" />
  <package id="Python2x86" version="2.7.15" />-->
</packages>
