steps:
    - task: UsePythonVersion@0
      inputs:
          versionSpec: "$(python.version)"
          architecture: "$(architecture)"
      displayName: "Use Python $(python.version) $(architecture)"
